<div class="artist">

  <img src="{{ image }}" alt="" />
  <h3>{{ name }}</h3>
  <p>{{ description }}</p>

  <a href="/artists/edit/{{ id }}">Edit</a>
</div>

{{#if comments}}
  {{#each comments}}
    <div class="comment">
      <span class="author">{{ author }}</span>
      <p>{{ body }}</p>
      <p>{{ this }}</p>
    </div>
  {{/each }}
{{/if }}

<form class="new-comment" action="/artists/{{id}}" method="POST">

  <p>
    <label for="author">Author:</label>
    <input type="text" name="author" placeholder="Author" />
  </p>

  <p>
    <label for="body">Comment:</label>
    <textarea name="body" id="" rows="8" cols="40"></textarea>
  </p>

  <button type="submit">Add Comment</button>

</form>
